<!-- Menu -->
<app-navbar></app-navbar>
<!-- Menu -->



<!-- Slider Component-->
<app-slide></app-slide>
<!-- Slider -->

<div class="row xichxuong">
    <div class="col-lg-2">


        <!-- Users Component-->

        <!-- Users -->

        <!-- Categories Component-->

        <!-- Categories Component-->
    </div>
    <div class="col-lg-10">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-12">
            <router-outlet></router-outlet>
            <br>
            <br>
        </div>
    </div>
</div>